# Nexigon Agent Configuration
NEXIGON_HUB_URL="https://eu.nexigon.cloud"
NEXIGON_TOKEN="deployment_..."

# Rugix OTA Update Configuration
NEXIGON_OTA_REPOSITORY=""
NEXIGON_OTA_PACKAGE=""

# Integration Test Configuration
# NEXIGON_API_TOKEN="org_sk_..."
# NEXIGON_PROJECT_ID="p_..."