[Unit]
Description=Nexigon RAUC OTA Update Timer

[Timer]
OnBootSec=60
OnUnitActiveSec=@@INTERVAL@@
RandomizedDelaySec=@@RANDOMIZED_DELAY@@
AccuracySec=@@ACCURACY@@
Persistent=true

[Install]
WantedBy=timers.target
